apiVersion: apps/v1
kind: Deployment
metadata:
  name: goldengoose
  namespace: goldengoose
spec:
  replicas: 3
  selector:
    matchLabels:
      app: goldengoose
      track: prod
  template:
    metadata:
      labels:
        app: goldengoose
        track: prod
    spec:
      containers:
      - name: goldengoose
        image: dippynark/goldengoose
        ports:
        - containerPort: 8000
        readinessProbe:
          timeoutSeconds: 2
          httpGet:
            path: /
            port: 8000
        livenessProbe:
          timeoutSeconds: 10
          httpGet:
            path: /
            port: 8000